<!DOCTYPE html>
<html>
    <head>
        <title>Twittool</title>
        <link href="{{url_for('static', filename = 'style/index.css')}}" rel = 'stylesheet'>
    </head>
    <body>
        <h1 class = 'title'>Twittool</h1>
        <h1>Use twitter, but, differently</h1>
        <form class = 'userResearchForm' method = 'POST' action = {{url_for('user_result')}}>
            <input class = 'userResearchInput' type = "text" placeholder="@" id = 'userQuery', name = 'userQuery'>
            <input class = 'userResearchSubmit' type = "submit" value="🔎">
        </form>
    </body>
</html>