@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

body
{
    font-family: 'Montserrat', sans-serif;
    color: #d9d9d9;
    background-color: #111111;
}

.headerContainer {
  position: relative;
  text-align: center;
  color: white;
}

.centeredLeft{
  position: absolute;
  top: 50%;
  left: 45%;
  font-size: 60px;
  transform: translate(-50%, -50%);
}

.centeredRight{
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
  }